# Monitores:


1.   Vitor Franco
2.   [Arthur Arash](https://www.linkedin.com/in/arthur-arash-briceno-heidari/)
3.   [Kaynan Souza](https://www.linkedin.com/in/kaynan-macedo-de-souza-9a3260231/)

# json

In [1]:
import json

In [2]:
classroom = {
            'name' : ['Ali', 'Arthur', 'Vitoria', 'Patricia', 'maryam', 'zahra'],
            'score' : [12, 15, 18, 16, 14, 20],
            'birthday' : ['1375', '1374', '1375', 'NONE' , '1376', '1373'],
            'married' : ['yes', 'yes', 'NONE', 'no', 'NONE', 'no'],
            'gender' : ['m', 'm', 'f', 'f', 'f', 'f']
}
#criamos um dictionario

In [3]:
classroom

{'name': ['Ali', 'Arthur', 'Vitoria', 'Patricia', 'maryam', 'zahra'],
 'score': [12, 15, 18, 16, 14, 20],
 'birthday': ['1375', '1374', '1375', 'NONE', '1376', '1373'],
 'married': ['yes', 'yes', 'NONE', 'no', 'NONE', 'no'],
 'gender': ['m', 'm', 'f', 'f', 'f', 'f']}

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
f = open(file = "drive/MyDrive/TXT_C_J/json_file.json", mode='w')

In [6]:
json.dump(classroom, f) #obj =  classroom // fp= f que abrimos

In [7]:
f.close()

In [8]:
with open(file = "D:\\faradars\\files\\json_file.json", mode='w') as f:
    json.dump(classroom, f)

In [9]:
with open(file = "D:\\faradars\\files\\json_file.json", mode='r') as f:
    classroom1 = json.load(f)
    #para ler \READ usamos .load(nome do FP)

In [ ]:
classroom1

{'name': ['Ali', 'Arthur', 'Vitoria', 'Patricia', 'maryam', 'zahra'],
 'score': [12, 15, 18, 16, 14, 20],
 'birthday': ['1375', '1374', '1375', 'NONE', '1376', '1373'],
 'married': ['yes', 'yes', 'NONE', 'no', 'NONE', 'no'],
 'gender': ['m', 'm', 'f', 'f', 'f', 'f']}